@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.Category

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Category</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
                <label asp-for="SupportsProducts" class="control-label"></label>
                @Html.CheckBoxFor(m => m.SupportsProducts)
                <span asp-validation-for="SupportsProducts" class="text-danger"></span>
                <label asp-for="SupportsRecipes" class="control-label"></label>
                @Html.CheckBoxFor(m => m.SupportsRecipes)
                <span asp-validation-for="SupportsRecipes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}