@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RecipeEditViewModel

@{
    ViewData["Title"] = "Edit Recipe";
}

<h1>Edit Recipe</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <label asp-for="Recipe.Name" class="control-label"></label>
            <input asp-for="Recipe.Name" class="form-control"/>
            <span asp-validation-for="Recipe.Name" class="text-danger"></span><br/>

            <label asp-for="Recipe.IsPrivate" class="control-label"></label>
            @Html.CheckBoxFor(m => m.Recipe.IsPrivate)
            <span asp-validation-for="Recipe.IsPrivate" class="text-danger"></span><br/>

            <label asp-for="Recipe.Servings" class="control-label"></label>
            <input asp-for="Recipe.Servings" class="form-control"/>
            <span asp-validation-for="Recipe.Servings" class="text-danger"></span><br/>

            <label asp-for="Recipe.PrepareTimeMinutes" class="control-label"></label>
            <input asp-for="Recipe.PrepareTimeMinutes" class="form-control"/>
            <span asp-validation-for="Recipe.PrepareTimeMinutes" class="text-danger"></span><br/>

            <input type="hidden" asp-for="Recipe.Id"/>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>
        </form>
    </div>
    <div class="col-md-8">
        <form method="get">
                    <input asp-for="ProductNameQuery"/>
                    <input type="submit" value="Search"/>
                </form>
                <partial name="_ManageRecipeProductsPartial"
                         model="@(new ManageRecipeProductsPartialViewModel { RecipeId = Model.Recipe.Id, RecipeProducts = Model.Recipe.RecipeProducts!.ToList(), Products = Model.Products })"/>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}